{% extends '_base.html' %}

{% block title %}Payments{% endblock title %}

{% block content %}

    <h1>Payments page</h1>
    <hr>
    <p>Uprade to premium for $34.99 and get access to all premium content.</p>
    <p>For a mock payment use <strong>4242 4242 4242 4242</strong> for the credit card number and <strong>123</strong> for the CVV. Pick a expirary date in future.</p>
    <form action="{% url 'pay' %}" method="post">
        {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_key }}"
            data-description="All Premium Articles"
            data-amount="3499"
            data-locale="auto">
        </script>
    </form>

{% endblock content %}