{% extends '_base.html' %}

{% block title %}Payments{% endblock title %}

{% block content %}

    <h1>Payments page</h1>
    <p>Lifetime membership for $34.99</p>
    <p>You can use 4242 4242 4242 4242 as the credit card number and 123 as the CVV. Pick a expirary date in future.</p>
    <form action="{% url 'pay' %}" method="post">
        {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_key }}"
            data-description="All Premium Articles"
            data-amount="3499"
            data-locale="auto">
        </script>
    </form>

{% endblock content %}