{% extends '_base.html' %}

{% block title %}
{{ article.title }}
{% endblock title %}

{% block content %}
<div class="contianer">
    <div class="row">
        <div class="col col-1"></div>
        <div class="col col-10">
            <img class="thumbnail" src="{{ article.thumbnail.url }}" alt="{{ article.title }}">
            <br>
            <br>
            <h2>
                <a href="">{{ article.title }}</a>
            </h2> 
            <br>
            <h4>{{ article.excerpt }}</h4>
            <br>
            <p>By: {{ article.author }}</p>
            <br>
            <div>
                {% autoescape off %}
                {{ article.content }}
                {% endautoescape %}
            </div>
            <br>
            <hr>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col col-8">
                        <h2>Comments</h2> 
                    </div>
                </div>
                <div class="row xs-8">
                    <div class="col col-8">
                        <ul>
                            {% for comment in article.comments.all %}
                                <li>{{ comment.comment }}</li> 
                                <ul>
                                    <li>user: {{ comment.user }}</li>
                                </ul>
                            {% endfor %}
                        </ul> 
                    </div>
                </div>
        </div>
        <div class="col col-1"></div>
    </div>
    
</div>
<div style="height: 100px;"></div>
{% endblock content %}