{% extends '_base.html' %}
{% block title %}Articles{% endblock title %}
{% block content %}
    {% if not perms.articles.premium_member %}
        <a href="{% url 'payment' %}" class="btn btn-success mb-5" >Upgrade to Premium</a>
    {% endif %}
    {% if request.path == "/articles/free/" %}
    <h1>Free Articles</h1>
    {% else %}
    <h1>Premium Articles</h1>
    {% endif %}
    {% if not perms.articles.premium_member and request.path == "/articles/premium/" %}
        <p>You must upgrade to premium to read these articles.</p>
    {% endif %}
    <hr>
        <div class="card-deck">
    {% for article in article_list %}

        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="embed-responsive embed-responsive-1by1">
                <img class="thumbnail embed-responsive-item" src="{{ article.thumbnail.url }}" alt="{{ article.title }}">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">By: {{ article.author }}</p>
                <p class="card-text">{{ article.excerpt }}</p>
                {% if not perms.articles.premium_member and request.path == "/articles/premium/" %}
                    <a href="{% url 'payment' %}" class="btn btn-success mb-5" >Upgrade to Premium to Read</a>
                {% else %}
                <a href="{{ article.get_absolute_url }}" class="btn btn-primary">Read</a>
                {% endif %}
            </div>
        </div>
    
    {% endfor %}
</div>
{% endblock content %}