{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %} 

<h1>The World Times</h1>
<h3>A Django project</h3>
<br>

{% if user.is_authenticated %}
    Hello, {{ user.email }}! 
    <p><a href="{% url 'account_logout' %}"></a></p>
{% else %}
    <p>Hello!</p>
{% endif %}

<h3>Welcome to The World Times.</h3>
<p>This is a live demo of a production grade django backend.</p>
<br>
{% if user.is_authenticated %}
    <h4>Thank you for signing up! Please explore this app's functionality.</h4>
{% else %}
<h5>Please explore this app's functionality by <a href="{% url 'account_signup' %}">signing up</a> for an account.</h5> 
{% endif %}
<ul>
    <br>
    {% if user.is_authenticated %}
    <li>
        Check your email for a confirmation message.
    </li>
    {% else %}
    <li>
        You can use a fake email to <a href="{% url 'account_signup' %}">sign up</a>, but if you use a real one you'll see the email confirmation system working.
    </li>
    {% endif %}
    <br>
    <li>
        Use the search bar to search across both "free" and "premium" articles.
    </li>
    <br>
    {% if not perms.articles.premium_member %}
    <li>
        <a href="{% url 'payment' %}">Submit a mock payment via Stripe</a> to gain access to "premium" articles.
        You can use 4242 4242 4242 4242 as the credit card number and 123 as the CVV. Pick a expirary date in future.
    </li>
    {% else %}
    <li>
        Submit a mock payment via Stripe to gain access to "premium" articles.
        You can use 4242 4242 4242 4242 as the credit card number and 123 as the CVV. Pick a expirary date in future.
    </li>
    {% endif %}
    <br>
    <li>
        User commenting from the frontend has been disabled so that I don't have to maintain this demo. See CMS demo video 
        for commenting functionality.
    </li>
</ul> 
<hr>
<h3>Tech stack:</h3>
<ul>
    <li>Python</li>
    <li>Django</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Bootstrap 4</li>
    <li>AWS S3</li>
    <li>PostgreSQL</li>
    <li>Heroku</li>
</ul>
<br>
{% endblock content %} 